@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  padding: 1rem;
  font-family: 'Quicksand', sans-serif;
  p {
    margin: 0.25rem 0;
  }
  ul {
    font-size: 0.75rem;
    width: 100%;
    padding: 1rem;
    background: #ccc;
    border-radius: 0.25rem;
    li:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
    li {
      list-style: none;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-items: center;
      p {
        display: inline;
        margin: 0;
        margin-right: 1rem;
      }
      a {
        padding: 0.5rem 0.25rem;
        background: rgb(72, 72, 194);
        color: white;
        min-width: 75px;
        display: block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        opacity: 0.7;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    ul {
      li {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}
